* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
section {
  background: url(./assets/BlackJack.jpg);
  background-size: cover;
}
h1 {
  font-size: 4em;
  font-weight: bold;
  color: goldenrod;
  text-align: center;
}
p {
  margin-top: 50px;
}
#message-el {
  font-weight: bold;
  text-align: center;
}
.btn {
  margin: 5px;
  font-size: 20px;
}
.center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.gameOver {
  margin-top: 1em;
  color: #fcba5d;
}
.sectionPlay {
  height: 100vh;
  text-align: center;
}
.bet {
  display: flex;
  justify-content: center;
}
#bet {
  padding: 3px;
  border-radius: 50px;
  width: 45%;
  text-align: center;
}
.btnReset {
  margin-top: 1em;
  padding: 5px;
  background-color: goldenrod;
  color: black;
}
